.reminder-container {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reminder-card {
  background-color: #1a1d1e;
}

#reminderDialog {
  backdrop-filter: blur(6px);
}

.reminderDialogContent {
  background-color: #1a1d1e;
}
